<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="https://jakarta.ee/xml/ns/jakartaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
    version="6.0">

    <display-name>webServer</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.xhtml</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.xhtml</welcome-file>
    </welcome-file-list>

    <!-- 400 Bad Request -->
    <error-page>
        <error-code>400</error-code>
        <location>/WEB-INF/pages/paginaDeErrores/400.jsp</location>
    </error-page>

    <!-- 403 Forbidden -->
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/pages/paginaDeErrores/403.jsp</location>
    </error-page>

    <!-- 404 Not Found -->
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/pages/paginaDeErrores/404.jsp</location>
    </error-page>

    <!-- 500 Internal Server Error -->
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/pages/paginaDeErrores/500.jsp</location>
    </error-page>

</web-app>
